.btn {
	display: block;
	min-width: 200px;
	margin: 30px auto 0;
	padding: 12px 35px;
	border: none;
	outline: none;
	background-color: forestgreen;
	color: antiquewhite;
	text-transform: uppercase;
	font-size: 30px;
	border-radius: 10px;
	cursor: pointer;
}
