.item {
	position: relative;
	z-index: 2;
	visibility: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
	cursor: pointer;
	user-select: none;
	box-shadow: -2px 4px 10px -5px black;
	transform: rotateY(180deg) scale(1);
	transition: transform 0.2s, box-shadow 0.2s;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: mediumseagreen;
		transform: rotateY(0deg);
		backface-visibility: hidden;
		transition: transform 0.2s;
	}

	&.opened {
		box-shadow: 2px 4px 10px -5px black;
		transform: rotateY(0deg) scale(1);

		&::after {
			transform: rotateY(180deg);
		}
	}

	&.hidden {
		animation-name: hide;
		animation-duration: 0.2s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}
}


.imgWrap {
	width: 100%;
	height: 100%;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@keyframes hide {
	0% {
		filter: brightness(6);
	}
	50% {
		filter: brightness(1);
	}
	75% {
		filter: brightness(6);
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
