.item {
	position: relative;
	border: none;
	padding: 0;
	cursor: pointer;
	user-select: none;
	perspective: 200px;
	background-color: transparent;

	&.opened {
		.front,
		.back {
			transition: transform 0.3s, box-shadow 0.3s;
		}

		.front {
			box-shadow: 2px 4px 10px -5px black;
			transform: rotateY(0deg);
		}

		.back {
			box-shadow: -2px 4px 10px -5px black;
			transform: rotateY(180deg);
		}
	}

	&.hidden {
		animation-name: hide;
		animation-duration: 0.2s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	border-radius: 5px;
	transition: transform 0.3s, box-shadow 0.3s;
}

.front {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: -2px 4px 10px -5px black;
	transform: rotateY(-180deg);
}

.back {
	background-color: mediumseagreen;
	box-shadow: 2px 4px 10px -5px black;
	transform: rotateY(0);
}

.img {
	width: 80%;
	height: 80%;
	object-fit: contain;

	&.loaded {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

@keyframes hide {
	0% {
		filter: brightness(6);
	}
	50% {
		filter: brightness(1);
	}
	75% {
		filter: brightness(6);
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
