h1 {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    position: relative;
}

.final-screen,
.start-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    color: red;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity 0.5s, visibility 0.5s;
}

.start-btn,
.restart-btn {
    width: 200px;
    height: 60px;
    margin-top: 50px;
    border: none;
    outline: none;
    background-color: forestgreen;
    color: antiquewhite;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 30px;
    border-radius: 10px;
}

.cardsGrid {
    height: 80vh;
    max-width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    perspective: 1000px;
}

.cardsGrid__item {
    position: relative;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid aqua;
    cursor: pointer;
    user-select: none;
    transform: rotateY(180deg);
    transition: transform 0.3s;
}

.cardsGrid__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    opacity: 0.1;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 0.3s;
}

.opened {
    transform: rotateY(0deg);
}

.opened::after {
    transform: rotateY(180deg);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

